---
import PortfolioLayout from '../layouts/PortfolioLayout.astro';
import { Image } from '@astrojs/image/components';
import PortfolioHero from '../components/Portfolio/Hero';
import SmallProjectList from '../components/Portfolio/SmallProjectList';

const imageClasses = "max-w-sm rounded-lg shadow-2xl self-center"
---

<!--
  @astropage
  The landing page accessed by going to `"/"` or by clicking either the logo or the home navigation
  button.
-->

<PortfolioLayout>
  <PortfolioHero reverse={false}>
      <div class="pr-1">
        <h1 class="text-accent text-4xl">Tommy Breslein</h1>
        <h3 class="py-2">Trained in numerical astrophysics</h3>
        <h3 class="py-2">Working as a system admin</h3>
        <h2 class="pt-2">Going-to-be software developer</h2>
      </div>
      <Image src="/assets/portfolio/profile1.jpg" fit="cover" position="attention" class={imageClasses} alt="" aspectRatio="9:16" width="250"/>
  </PortfolioHero>

  <PortfolioHero reverse={true}>
      <div>
        <h2>About me</h2>
        <p class="pb-1">I'm a system admin with a physics background, currently looking to break into software development, based in Schleswig-Holstein, Germany.</p>
        <p class="py-1">The two most important things to know about me are my <span class="font-black">passion</span> and my <span class="font-black">background</span>. This passion was ignited during my physics undergrad. I finished that + my master's degree, worked in research for a couple of years, and have now been working as an admin for two years.</p>
        <p class="py-1">I love diving into the nitty gritty: Figuring out how to architecture something elegantly to combine extensibility, robustness, and performance; I can spend days on that without ever getting bored.</p>
        <p class="py-1">Apart from the obvious problem solving skills, my background allowed me to get a handle on a bunch of technologies: Git, Docker, Ansible, CI with GitLab, Linux administration, slurm, a bunch of programming languages and their respective toolchains, ...</p>
        <p class="pt-1">If you want to read the long version of this text, you can check out the <a href="/about">About</a> section.</p>
      </div>
      <Image src="/assets/portfolio/profile2.jpg" fit="outside" position="attention" class="rounded-lg shadow-2xl" alt="" aspectRatio="9:16" width="200"/>
  </PortfolioHero>

  <div class="hero min-h-screen">
    <div class="hero-content flex-col">
      <div>
        <h1 class="text-center">My biggest project</h1>

        <div class="card lg:card-side bg-base-300 shadow-xl my-2">
          <div class="card-body">
            <h1 class="card-title">corries</h1>
            <ul>
              <li>CORossive RIEmann Solver</li>
              <li>Framework to run 1D hydrodynamics simulations using Riemann schemes</li>
              <li>Uses the Runge-Kutta-Fehlberg method for time integration</li>
              <li>Blazingly fast ⚡🦀</li>
            </ul>
            <p class="object-fill" />
            <div class="card-actions justify-end">
              <a href="https://docs.rs/corries/" target="_blank">
                <button class="btn btn-primary">docs.rs</button>
              </a>
              <a href="https://crates.io/crates/corries" target="_blank">
                <button class="btn btn-primary">crates.io</button>
              </a>
              <a href="https://github.com/tbreslein/corries" target="_blank">
                <button class="btn btn-primary">GitHub</button>
              </a>
            </div>
          </div>
          <Image src="/assets/portfolio/corries.png" alt="" fit="outside" class={imageClasses} aspectRatio="4:3" width="1280"/>
        </div>
      </div>
    </div>
  </div>

  <SmallProjectList />

  <!--
  <PortfolioHero reverse={false}>
      <div>
        <h1>If you are looking to hire me, this is what you can expect:</h1>
        <p>In me you will find someone who's extremely inquisitive, results-oriented, and passionate.</p>
        <p>Due to my almost one-of-a-kind profile and history, I have seen sides of software dev world many haven't, and thus I will bring an incredibly unique perspective to your team <em>guaranteed</em>.</p>
      </div>
  </PortfolioHero>
  -->

  <!-- The scroll button -->
  <div class="toast z-40 bottom-24">
    <div class="alert alert-info">
      <button onclick="window.scrollBy(0, window.innerHeight);">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="text-accent bi bi-arrow-down-circle" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/> </svg>
      </button>
    </div>
  </div>

</PortfolioLayout>
